.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(25% - 24px) ;
    margin: 10px;
    padding: 2px;
    background-color: white;
  }
.homepage{
  width: 100%;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }
  .main{
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
  }
  .main-2{
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
  }
  .year-bt{
      width: 50%;
      margin: 10px 0px 10px 0px;
  }
  img{
    padding: 10px;
    background-color: #f3f3f3;
    width: 85%;
    margin: 10px;

  }
  .space-la{
    font-weight: 600;
  }
  h4{
    /* width: min-content; */
  }
  .data{
    margin: 0 0 10px 0px;
  }
  .sidebar-main-1{
    background: white;
    margin: 10px;
  }
.sidebar{
  margin: 10px;
}
.spacex-launch{
  text-align: center;
}

@media only screen  and (max-width: 768px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .sidebar-main{
    max-width: 100%;
  }
  .card {
    width: calc(100% - 24px);
    margin: 10px;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {

  .card{
    width: calc(50% - 24px);
  }

}
